
$bg-grey: #f2f2f2;
$bg-green: #2aab6d;
$black-transparent: rgba(0, 0, 0, 0.3);
$color-red: #d22856;
$border-color-btn: #dddfe0;
$darkblue: #283645; // main-nav темно-синий
$desktop-width: 1200px;
$tablet-width: 660px;
$verydark-blue: #1d2631; //очень темно-синий
$white: #ffffff;
$border-grey: #e5e5e5;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
